<div class="light-border-spacing">
    <div>
        <div class="title-spinner">
            <h4 class="title-bc">
                BAKERS ACTIVITY
                <b-spinner
                    v-if="delegates_infos===undefined&&genesis===false"
                    class="spaced-spinner"
                ></b-spinner>
            </h4>
            <br />
        </div>
        <div v-if="delegates_infos!=undefined">
            <b-table
                id="attes-table"
                :sort-by="current_stake"
                :sort-desc="true"
                :items="delegates_infos"
                :fields="fields"
                :per-page="per_page"
                :current-page="current_page"
                class="table table-responsive w-100 d-block d-xl-table table-striped table-hover"
            >
                <template #head()="data">
                    <p :id="data.field.key" class="text-nowrap">{{ data.field.label }}</p>
                    <b-tooltip
                        :target="data.field.key"
                        placement="top"
                        boundary="window"
                        triggers="hover"
                    >
                        <p>{{data.field.descr}}</p>
                    </b-tooltip>
                </template>

                <template #cell(phk)="data">
                    <v-hash v-bind:hash="data.item.phk" category="account_hash"></v-hash>
                </template>

                <template #cell(alias)="data">
                    <p class="text-nowrap">{{data.item.alias}}</p>
                </template>
            </b-table>
            <b-pagination
                v-model="current_page"
                :total-rows="delegates_infos.length"
                :per-page="per_page"
                aria-controls="attes-table"
                class="center"
                small
            ></b-pagination>
        </div>
        <div v-if="delegates_infos===undefined">
            <table
                class="table table-responsive w-100 d-block d-lg-table table-striped table-hover"
            >
                <thead>
                    <tr>
                        <template v-for="field in fields">
                            <th class="col">
                                <p :id="field.key" class="text-nowrap">{{field.label}}</p>
                            </th>
                            <b-tooltip
                                :target="field.key"
                                placement="top"
                                boundary="window"
                                triggers="hover"
                            >
                                <p>{{field.descr}}</p>
                            </b-tooltip>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="i in per_page">
                        <td v-for="i in fields.length" style="height: 50px"></td>
                    </tr>
                </tbody>
            </table>
            <b-pagination
                v-model="current_page"
                :total-rows="per_page"
                :per-page="per_page"
                aria-controls="attes-table"
                class="center"
                small
            ></b-pagination>
        </div>
    </div>
</div>
