<div>
    <div class="light-border-spacing">
        <div class="title-spinner inline-legend">
            <div class="legend-title">
                <h4 class="title-bc">
                    BAKING RIGHTS FOR CURRENT LEVELS AND ROUNDS
                    <b-spinner v-if="baking_rights===undefined" class="spaced-spinner"></b-spinner>
                </h4>
            </div>
            <div class="legend-table-no-border">
                <div class="current-head">
                    <span class="centered-text small-legend-size">Current head</span>
                </div>
                <div class="finalized-content">
                    <span class="centered-text small-legend-size">Finalized content</span>
                </div>
                <div class="finalized-block">
                    <span class="centered-text small-legend-size">Finalized block</span>
                </div>
                <div class="seen-alt-block">
                    <span class="centered-text small-legend-size">Seen alt. block</span>
                </div>
                <div class="offline-baker">
                    <span class="centered-text small-legend-size">Offline baker ?</span>
                </div>
            </div>
        </div>
        <table
            :class="(displayed_round>8)?'table table-hover fix-baking-rights':'table table-responsive w-100 d-block d-xl-table cell-min-width'"
        >
            <thead v-if="baking_rights!=undefined">
                <tr>
                    <th scope="col">Levels</th>
                    <th v-for="i in displayed_round">Round {{ i-1 }}</th>
                </tr>
            </thead>
            <thead v-if="baking_rights===undefined">
                <tr>
                    <th scope="col">Levels</th>
                    <th v-for="i in 8">Round {{ i-1 }}</th>
                </tr>
            </thead>
            <tbody v-if="baking_rights!=undefined">
                <tr v-for="(baking_right,i) in baking_rights">
                    <th
                        id="genesis-baking-right-id"
                        scope="row"
                        v-if="baking_right.level===0"
                        class="centered-text"
                    >
                        <span>Genesis&nbsp;</span>
                        <b-tooltip
                            target="genesis-baking-right-id"
                            placement="right"
                            boundary="window"
                            triggers="manual"
                            show
                        >
                            <p class="center-text text-nowrap">
                                There is no validators at<br />Genesis
                            </p>
                        </b-tooltip>
                    </th>
                    <td
                        v-if="baking_right.level===0"
                        v-bind:colspan="displayed_round"
                        style="background-color: #e0e0e0"
                    />
                    <th
                        scope="row"
                        v-else-if="protocol_transition_level===baking_right.level&&i===4"
                    >
                        {{ baking_right.level }} »
                        <i id="br-protocol-injection-level" class="bi bi-globe2"></i>
                        <b-tooltip target="br-protocol-injection-level" placement="top">
                            <p class="center-text text-nowrap">Protocol injection level</p>
                        </b-tooltip>
                    </th>
                    <th scope="row" v-else-if="protocol_transition_level===baking_right.level">
                        {{ baking_right.level }}
                        <i id="br-protocol-injection-level" class="bi bi-globe2"></i>
                        <b-tooltip target="br-protocol-injection-level" placement="top">
                            <p class="center-text text-nowrap">Protocol injection level</p>
                        </b-tooltip>
                    </th>
                    <th scope="row" v-else-if="i===4">{{ baking_right.level }} »</th>
                    <th scope="row" v-else>{{ baking_right.level }}</th>
                    <td
                        v-for="(info,j) in baking_right.bakers"
                        v-if="j<displayed_round"
                        :class="info.color"
                    >
                        <v-hash
                            v-bind:hash="info.baker"
                            category="account"
                            class="text-nowrap"
                        ></v-hash>
                    </td>
                </tr>
            </tbody>
            <tbody v-if="baking_rights===undefined">
                <tr v-for="i in 8">
                    <th scope="row" v-if="i===5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th scope="row" v-if="i!=5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td v-for="j in 8"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
