<ul class="tree">
    <li class="tree">
        <div style="display: flex">
            <v-soru_commitment :key="commitment" v-bind:hash="commitment" />
            <b v-if="stakers.length>0" style="white-space: nowrap; color: black">
                &nbsp;<i class="bi bi-chevron-double-right"></i> staker(s) →&nbsp;
            </b>
            <template v-for="staker in stakers">
                <v-hash v-bind:hash="staker" category="account" style="color: red"></v-hash>&nbsp;
            </template>
        </div>
        <v-commitment_tree
            v-for="child in childs"
            :key="child.commitment"
            :stakers="child.stakers"
            :commitment="child.commitment"
            :childs="child.childs"
        ></v-commitment_tree>
    </li>
</ul>
