<div class="light-border-spacing">
    <div class="center light-border-spacing">
        <b-progress
            :max="(round_info!=undefined)?round_info.max_round:'100'"
            style="width: 500px"
            show-progress
            animated
        >
            <b-progress-bar
                :value="(round_info!=undefined)?round_info.pos_round:'100'"
                style="background-color: #5a6570"
            >
                <span style="font-weight: bold">Fetching new head...</span>
            </b-progress-bar>
        </b-progress>
    </div>
    <table class="table table-striped table-hover d-xl-table text-nowrap">
        <thead>
            <tr>
                <th style="display: flex">
                    <span class="inline-left" style="width: 50%; margin: 10px 0px">
                        Operations per Hash
                        <i class="bi bi-chevron-double-right"></i>
                        Level
                        <i class="bi bi-chevron-double-right"></i>
                        Round
                    </span>
                    <div style="width: 50%" class="inline-right">
                        <b-dropdown right>
                            <template #button-content>
                                <i class="bi bi-info-square"></i>
                            </template>
                            <b-dropdown-item>
                                <span style="color: blue">User address</span>
                            </b-dropdown-item>
                            <div class="dropdown-divider"></div>
                            <b-dropdown-item>
                                <span style="color: red">Smart contract address</span>
                            </b-dropdown-item>
                            <div class="dropdown-divider"></div>
                            <b-dropdown-item>
                                <span class="font-weight-bold">
                                    <i class="bi bi-book" style="20px"></i> Number of operations
                                </span>
                            </b-dropdown-item>
                        </b-dropdown>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="block in blocks">
                <td v-if="block.Empty_blocks!=undefined">
                    <div class="light-margin-bottom light-margin-left" style="display: inline-flex">
                        <v-hash
                            v-bind:hash="block.Empty_blocks.first.hash"
                            category="hash"
                            class="font-weight-bold"
                        ></v-hash>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_blocks.first.level }}</div>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_blocks.first.round }}</div>
                        &nbsp;<i class="bi bi-arrow-right" style="color: red"></i>&nbsp;
                        <v-hash
                            v-bind:hash="block.Empty_blocks.last.hash"
                            category="hash"
                            class="font-weight-bold"
                        ></v-hash>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_blocks.last.level }}</div>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_blocks.last.round }}</div>
                    </div>
                    <div class="list-group-item">0 operation</div>
                </td>
                <td v-if="block.Empty_block!=undefined">
                    <div class="light-margin-bottom light-margin-left" style="display: inline-flex">
                        <v-hash
                            v-bind:hash="block.Empty_block.hash"
                            category="hash"
                            class="font-weight-bold"
                        ></v-hash>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_block.level }}</div>
                        &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                        <div class="font-weight-bold">{{ block.Empty_block.round }}</div>
                    </div>
                    <div class="list-group-item">0 operation</div>
                </td>
                <td v-if="block.Block!=undefined">
                    <div style="display: flex; justify-content: space-between">
                        <div
                            class="light-margin-bottom light-margin-left"
                            style="display: inline-flex"
                        >
                            <v-hash
                                v-bind:hash="block.Block.info.hash"
                                category="hash"
                                class="font-weight-bold"
                            ></v-hash>
                            &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                            <div class="font-weight-bold">{{ block.Block.info.level }}</div>
                            &nbsp;<i class="bi bi-chevron-double-right"></i>&nbsp;
                            <div class="font-weight-bold">{{ block.Block.info.round }}</div>
                        </div>
                        <div class="font-weight-bold">
                            <i class="bi bi-book"></i>
                            <span> {{ block.Block.nb_operations }} </span>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li
                            v-for="operation_l in block.Block.operations"
                            class="list-group-item inline-space-between"
                        >
                            <div>
                                <div v-for="operation in operation_l.contents">
                                    <div
                                        v-if="operation.Contract_transaction!=undefined"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            style="color: blue"
                                            v-bind:hash="operation.Contract_transaction.manager.source"
                                            category="account"
                                        ></v-hash>
                                        <span>
                                            &nbsp;called
                                            <b>
                                                {{operation.Contract_transaction.parameters.entrypoint}}
                                            </b>
                                            from&nbsp;
                                        </span>
                                        <v-hash
                                            style="color: red"
                                            v-bind:hash="operation.Contract_transaction.destination"
                                            category="account"
                                        ></v-hash>
                                    </div>
                                    <div
                                        v-if="operation.User_transaction!=undefined"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            style="color: blue"
                                            v-bind:hash="operation.User_transaction.manager.source"
                                            category="account"
                                        ></v-hash>
                                        <span>
                                            &nbsp;transfered
                                            <b>{{operation.User_transaction.amount}} µ-ꜩ</b>
                                            to&nbsp;
                                        </span>
                                        <v-hash
                                            style="color: blue"
                                            v-bind:hash="operation.User_transaction.destination"
                                            category="account"
                                        ></v-hash>
                                    </div>
                                    <div
                                        v-else-if="operation.Origination!=undefined"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            style="color: blue"
                                            v-bind:hash="operation.Origination.manager.source"
                                            category="account"
                                        ></v-hash>
                                        <span> &nbsp;made an <b>origination</b></span>
                                    </div>
                                    <div
                                        v-else-if="operation.Smart_rollup_originate!=undefined"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            style="color: blue"
                                            v-bind:hash="operation.Smart_rollup_originate.manager.source"
                                            category="account"
                                        ></v-hash>
                                        <span>
                                            &nbsp;made a
                                            <b>smart optimistic rollup origination</b></span
                                        >
                                    </div>
                                </div>
                            </div>
                            <a :href="operation_l.path" target="_blank">
                                <b-button size="sm" class="mx-2 my-2" variant="light">
                                    <i class="bi bi-box-arrow-in-down-right"></i>
                                </b-button>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr v-if="blocks.length===0" class="center">
                <b-spinner style="margin: 50px" small></b-spinner>
            </tr>
        </tbody>
    </table>
    <div
        style="display: grid; justify-content: center"
        class="alert alert-secondary light-margin"
        role="alert"
    >
        <p class="justified">
            <b>NB</b> : If <b>Explorer</b>'s tab is changed, <i>only around</i> {{ cached_blocks }}
            blocks from head will be tracked here.
        </p>
    </div>
</div>
