<b-navbar
    b-navbar
    class="black-fade-2 shadow text-white"
    toggleable="sm"
    type="dark"
    variant="dark"
>
    <div class="horizontal-spreading">
        <div />
        <div class="info-bar-text">
            <span><b>Protocol</b></span>
            <v-hash v-if="block!=undefined" v-bind:hash="block.protocol" category="protocol" />
        </div>
        <div class="vl-info-bar"></div>
        <div class="info-bar-text">
            <span><b>Tezos' commit hash</b></span>
            <v-hash
                class="center"
                v-if="node_version!=undefined&&node_version.commit_info!=undefined"
                v-bind:hash="node_version.commit_info.commit_hash"
                category="commit"
            />
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Head hash</b></span>
            <v-hash v-if="block!=undefined" v-bind:hash="block.hash" category="hash" />
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Head level</b></span>
            <span v-if="block!=undefined">{{ block.header.level }}</span>
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Head proposed at / received</b></span>
            <span v-if="block_timestamp!=undefined">
                {{ block_timestamp.time }} / {{ block_timestamp.delta }}s ago
            </span>
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Current cycle</b></span>
            <span v-if="cycle_infos!=undefined">{{ cycle_infos.current_cycle }}</span>
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Cycle position</b></span>
            <span v-if="cycle_infos!=undefined" class="white-space-nowrap">
                {{ cycle_infos.current_cycle_position }} / {{ cycle_infos.k_blocks_per_cycle }}
            </span>
        </div>
        <div class="vl-info-bar" />
        <div class="info-bar-text">
            <span><b>Percentage done</b></span>
            <span v-if="cycle_infos!=undefined">{{ cycle_infos.progression_percentage }} %</span>
        </div>
        <div />
    </div>
</b-navbar>
